 {
    "settings":{
      "import/resolver":{
         "node":{
            "paths":[
               "src"
            ],
            "extensions":[
               ".js",
               ".json"
            ]
         }
      },
      "import/ignore":[
         "node_modules",
         "\\.(coffee|scss|css|less|hbs|svg|json)$"
      ]
   },

    "extends": [
      "eslint-config-airbnb",
      "plugin:import/errors",
      "plugin:import/warnings"
    ],
    "rules": {
        "quotes": ["error", "single"]
    },

    "env": {
        "node": true
    }
}

